# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble

# Linux
*~

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
TKH-Final-Capstone/
